akshare>=1.10.1
alpaca-py>=0.7.2
black>=22.10.0
diskcache>=5.4.0
flake8>=5.0.4
flake8-bugbear>=22.10.25
joblib>=1.2.0
jupyter>=1.0.0
matplotlib>=3.6.3
mypy>=0.982
nbsphinx>=0.8.11
numba>=0.56.3
numpy>=1.23.4
pandas>=1.5.1
progressbar2>=4.1.1
pytest>=7.2.0
pytest-cov>=4.0.0
pytest-instafail>=0.4.2
pytest-lazy-fixture>=0.6.3
pytest-randomly>=3.12.0
pytest-xdist>=3.0.2
scikit-learn>=1.2.1
Sphinx>=5.3.0
sphinx_rtd_theme>=1.1.1
sphinx-intl>=2.1.0
yfinance>=0.1.84